* {
  box-sizing: border-box;
  margin: 0;
<<<<<<< HEAD
=======
  /*background-color: rgba(0, 0, 0, 0.1);*/
>>>>>>> eb911fd6f5a3746d0f7737dd6e25ff8990ca1c62
}

/* Universal styles */

body {
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.hidden {
  display: none;
}

/* Typography styling */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-top: 30px
}

h1 {
  font-size: 3em;
<<<<<<< HEAD
  font-family: 'Varela Round', sans-serif;
=======
>>>>>>> eb911fd6f5a3746d0f7737dd6e25ff8990ca1c62
}

}

p {
  font-size: 1em;
  line-height: 1.5em;
<<<<<<< HEAD
  font-family: 'Open Sans', sans-serif;
}

.body-text {
  padding-right: 50px;
  padding-left: 50px;

}

.card {
  padding-left: 50px
=======
}

.body-text {
  padding: 25px;
>>>>>>> eb911fd6f5a3746d0f7737dd6e25ff8990ca1c62
}
