* {
  box-sizing: border-box;
  margin: 0;
}

/* Universal styles */

body {
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.hidden {
  display: none;
}

/* Typography styling */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-top: 30px
}

h1 {
  font-size: 3em;
  font-family: 'Varela Round', sans-serif;
}

}

p {
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

.body-text {
  padding-right: 50px;
  padding-left: 50px;

}

.card-text, .card-title {
  padding-right: 15px;
  padding-left: 15px;
}

.main-image {
  height: 300px
}
