* {
  box-sizing: border-box;
  margin: 0;
  /*background-color: rgba(0, 0, 0, 0.1);*/
}

/* Universal styles */

body {
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.hidden {
  display: none;
}

/* Typography styling */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-top: 30px
}

h1 {
  font-size: 3em;
}

}

p {
  font-size: 1em;
  line-height: 1.5em;
}

.body-text {
  padding: 25px;
}
